* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, sans-serif;
}
p,
a {
  font-family: sans-serif;
}

.header-color {
  color: #0b0837;
}
.text-color {
  color: #a8a7a7;
}
.theme-button {
  background-color: #044f61;
}
.primary-button {
  background-color: #ffb548;
}
.standard-button {
  border-radius: 15px;
  margin: 20px 0;
}

.section {
  margin: 50px 0;
}
.section-header {
  font-size: 48px;
  color: #0b0837;
  margin: 20px 0;
}

/* nav */

.nav-item .nav-link {
  color: black !important;
}

/* header */
.header {
  background-image: url("../images/header-bg.png");
  background-color: #f5ffff;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-section-description h2 {
  padding-top: 20px;
  font-size: 72px;
}
.header-section-description p {
  margin: 20px 0;
}
.header-section-description button {
  box-shadow: 2px 5px 10px 1px #bbbbbb;
  border-radius: 15px;
  margin: 20px 0;
}
.highlight-red {
  color: red;
}

.header-section-image img {
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
}

/* about */
.about-img img {
  width: 100%;
}
.about-content {
  padding-top: 100px;
}
.about-content p {
  padding: 20px 0;
}

/* why us */

.why-us-card {
  background-color: #044f61;
  color: white;
  padding: 10%;
  border-radius: 5px;
  margin: 20px 0;
}
.why-us-card h4 {
  font-size: 24px;
}
.why-us-card p {
  margin: 20px 0 0;
  font-size: 16px;
  color: #e3e3e3;
}
